body.page-template-full-width {
	.site-content {
		overflow: visible;
	}

	.content-area {
		float: none;
		margin: 0 0 60px;
	}

	.site-main {
		margin: 0;
	}

	.site-content .widget-area {
		float: none;
		overflow: visible;
		width: 100%;
	}

	.site-content {
		.widget-area {
			@include three-up-container;
		}
		.widget {
			@include three-up-block;
		}
		.widget + .widget {
			margin-top: 0;
		}
	}
}
