.home {
	.site-main {
		padding: 0;
		max-width: $size-main-width;
	}
}

.site-image {
	text-align: center;

	.site-description {
		position: relative;
		display: inline-block;
		top: -50px;
		padding: 20px 50px;
		background: white;
		@include font-size( 3.4 );
	}
}

.events-list {
	display: flex;
}

.events-list .post {
	flex: 1;

	& + .post {
		margin-top: 0;
		padding-top: 0;
	}
}
