// Rename this with the real class (maybe will need to convert the mock into a real form)
.mock_subscription_widget {
	.widget-title {
		line-height: 1.2;
	}

	#theform {
		label {
			margin-bottom: 5px;
		}

		.row {
			margin-bottom: 1em;
		}
	}
}
